body{
    background-color: #d5E1EF;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
main{
    background-color: white;
    width: 320px;
    height: 499px;
    border-radius: 20px;
}
.image-section{
    padding: 16px 16px 24px 16px;
    width: 288px;
    height:288px;
}
img{
    width: 288px;
    height:288px;
    border-radius: 10px;

}
.description-section{
    width: 288px;
    height: 131px;
    text-align: center;
    padding: 0 16px 40px 16px;
    margin: 0;
    border: 0;
}
h2{
    
    color: #1F314F;
    font-size: 22px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding: 0 16px 0 16px  ;
    margin: 0;
}
p{
    color: #68778D;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 16px 16px 0 16px;
    font-weight: 400;
}